/* Общий стиль */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://avatars.mds.yandex.net/i?id>
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный че>
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li strong {
  color: #ffd700; /* Золотистый цвет для выделенного текста >
}

